* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* scroll-behavior: smooth; */
}
@font-face {
    font-family:Great1 ;
    src: url(/fonts/Barlow-Bold.ttf);
}
@font-face {
    font-family: Great2;
    src: url(/fonts/Bellefair-Regular.ttf);
}
@font-face {
    font-family: Great3;
    src: url(/fonts/Barlow-Light.ttf);
}
body {
    font-family: Great1;
    background-image: url(/starter-code/assets/home/background-home-mobile.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    
}
button {
    border: 0px ;
}
.main-container {
    border: 1px solid transparent;
    border-radius: 10px;
    padding: 20px;
    
}
.nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 50px;
}
.right-nav {
    display: flex;
    align-items: center;
    gap: 10px;
}
#right-1 {
    cursor: pointer;
}
.links1 {
    display: block;
}
#nav-link {
  display: flex;
    gap: 10px;
    justify-content: space-around;
    list-style: none;
    align-items: center;
strong {
    font-size: 22px;
    color: white;
}   
a {
    color: white;
    text-decoration: none
}
}
article {
    text-align: center;
    h2 {
        margin-bottom: 30px;
        font-family:Great2;
        font-weight: 500;
    }
    h1 {
        font-size: 70px;
        letter-spacing: 7px;
        margin-bottom: 30px;
        font-family: Great2;
    }
    h4 {
        line-height: 29px;
        font-size: 25px;
        margin-bottom: 40px;
        font-family: Great3;
        font-weight: 100;

        
    }
}
.explore-circle {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0px auto;
     border: 1px solid transparent;
    background-color: white;
    color: black;
    border-radius: 50%;
    width: 150px;
    height: 150px;
    padding: 20px;
    h2 {
        letter-spacing: 2px;
        font-family: Great1;
        
    }
    a {
        text-decoration: none;
        color: black;
    }
}
.btn-1 {
    cursor: pointer;
    background: transparent;
    border: px solid none;
}
.overlay {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.6);
    display: none;
    z-index: 999;

}
#nav-body {
    width: 75%;
    max-width: 300px;
    height: 100%;
    background: white;
     padding: 2rem;
  transform: translateX(-100%);
  transition: transform 0.3s ease;

}
.overlay.acitve {
    display: block;
}
.overlay.active.nav-body {
    transform: translateX(0);
}
.closetbtn {
    background: none;
     border: none;
  font-size: 2rem;
  cursor: pointer;
  color: black;
}